@import url('https://fonts.google.com/specimen/Ubuntu+Mono?preview.text=AaBbCcDdEeFfGgHhIiJjKkLl&preview.text_type=custom&category=Monospace');
html, body{
  min-height: 100%;
}
body{
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: rgb(216, 216, 183);
  background-color:rgb(68, 79, 99);
}
body h1, h2, h3, h4{
  font-family: "Ubuntu Mono", sans-serif;
  width: fit-content;
  display: inline-block;
  margin: 20px;
  color: rgb(255, 242, 240)
} 
h1{
  font-size: 40px;
}
header{
  background-color: rgba(104, 94, 94, 0.75);
  box-shadow: 2px 10px 10px rgba(104, 94, 94, 0.25);
  /*background-color: black;*/
  background-image: url(imgs/background-library.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 4.5vw; padding-right: 4.5vw;
  padding-top: 5px; 
  position: relative;
  min-height: 20vh;
}
main{
  padding: 10px;
  font-size: 20px;
  background-color:rgb(68, 79, 99);
}
p{
  margin-bottom: 2px;
}
#vamos-comecar-bold{
  font-size: 20px;
}
#login-email{
  font-size: 14px;
  line-height: 20px;
  color: black;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 2px solid wheat;
  border-radius: 6px;
  box-shadow: var(--shadow-inset, var(--color-primer-shadow-inset));
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: color, background-color, box-shadow, border-color;
  background-color: rgb(254, 255, 239);
  height: 30px;
  width: 500px;
}
#cadastro-conveniente{
  vertical-align: middle;
  font-size: 14px;
  height: 40px;
  width: 100px;
  background-color: rgb(75, 75, 75);
  color: rgb(216, 216, 183);
  padding: 3px;
}
.botao-header{
  margin: 3px;
  float: right;
  right: 5px;
  margin-top: 20px;
  font-size: 20px;
  background-color: rgba(175, 175, 175, 0.75);
  color: rgb(75, 75, 75);
  padding: 3px;
  height: max-content;
  width: max-content;
  
}
#loginHeader{
  border: none;  
}
html {
    min-height: max-content;
}
body img{
    height: 50px;
    width: auto;
}
section {
    width: 96%;
    min-width: 0.2vw;
}
.introducao-inicial{
  font-size: 30px;
}
#introducao{
  max-width: fit-content;
  min-height: 25ex;
}
main section{
  background: center;
  border: 10px solid transparent;
  padding: 15px;
  background-color: rgb(89, 107, 141);
}

footer{ 
    border: 5px double rgb(2, 31, 2);
    background-color: rgb(89, 107, 141);
    padding: 15px;
}
header p{
  display: inline-block;
  position: absolute;
  right: 5px;
}
.app{
  margin: 0 auto;
  border: 0;
  min-width: 900px;
  max-width: 900px;
  text-align: left;
  font-size: 1.5em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
 }
.app section{
  display: flex;
  width: 100%;
  box-sizing: border-box;

}
main > ul{
  padding: 0;
  margin: 0;
  width: 100%;
}
#lista{
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
#novo-item input,
#novo-item select,
button{
  font: inherit;
  outline: none;
  border: none;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}
#novo-item label, input[type$="checkbox"]{
  font-size: 20px;
  display: flex;
  align-items: center;
  background-color: rgb(254, 255, 239);
  color: rgba(0, 0, 0, 0.75);
}
#novo-item label:last-of-type{
  padding-right: 5px;
}

#novo-item-nome {
  flex: 1;
}

#novo-item-nome::input-placeholder {
  font-style: italic;
}

#novo-item-nome, .item {
  box-sizing: border-box;
  padding: 0.5em 0.5em 0.5em 1.5em;
  background-color: white;
}
#link{
  flex: 1;
  box-sizing: border-box;
  padding: 0.5em 0.5em 0.5em 1.5em;
  background-color: white;
  margin-left: 5px;
  width: 50%;
}

#novo-item, .item {
  width: 100%;
}
#novo-item{
  padding-bottom: 0;
}
section:not(#novo-item){
  padding-top: 0;
}

#novo-item-nome,
.item:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}

#incluir-novo-item {
  width: 3em;
  cursor: pointer;
}

#incluir-novo-item:hover {
  background-color: silver;
  outline: 1px solid rgba(0, 0, 128, 0.3);
}

#incluir-novo-item:active {
  background-color: gray;
}

.item {
  color: rgb(119, 119, 119);
  position: relative;
  transition: all 200ms ease;
}

.item::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 1px;
  left: 0;
  bottom: 0;
  width: 9px;
}
/* Cor da lista de desejos*/
.item.categoria-jogo::before {
  background-color: rgb(20, 150, 125);
}
.item.categoria-serie::before {
  background-color: rgb(255, 0, 0);
}
.item.categoria-filme::before {
  background-color: rgb(255, 150, 0);
}
.item.categoria-livro::before {
  background-color: rgb(200, 200, 0);;
}
.item.categoria-outro::before {
  background-color: black;
}

.item.marcado {
  text-decoration: line-through;
  color: silver;
}

.item .data-limite {
  font-size: 75%;
  color: silver;
  float: right;
}
a{
  color: rgb(119, 119, 119);
}
a:hover{
  color: blue;
}
#error,.modal .error{
  color: red;
  font-size: 12px;
}
#info {
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 15px;
  float: right;
  right: 15px;
}
.modal{
  transition: all 350ms ease-in-out;
  position: fixed;
  opacity: 0;
  transform: scale(0.5);
  z-index: -1;
  border: 2px solid darkblue;
  background-color: rgb(89, 107, 141);
  user-select: none;
}
#creditos.modal{
  left: 0;
  bottom: 0;
  width: 100%;
}
#popup-log-in, #popup-sign-up{
  left: 50%;
  top: 50%;
  margin-top: -25vh;
  margin-left: -35%;
  width: 75%;
  padding: 10px;
}
.modal input, .modal button{
  display: block;
  margin-bottom: 2px;
}
.modal button{
  background-color: rgb(75, 75, 75, 0.8);
  color: rgb(216, 216, 183, 0.6);
}
.modal.aparece {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
}
.aparece > p{
  font-size: 1em;
  line-height: 1.3em;
  font-weight: normal;
  color: white;
  text-align: center;
}
#fundo{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  transition: all 350ms ease-in-out;
}
#fundo.clicavel{
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
#salvar{
  position: absolute;
  right: 5px; 
  top: 30px;
  display: inline-block;
}
